.loginHeader {
  padding: 40px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  .trelloImage {
    cursor: pointer;
  }
}
.bottomImages {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
}
