.boards {
  padding: 2% 7%;

  h1 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 1.2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 2%;
  }
}

.boards * {
  box-sizing: border-box;
  margin: 0%;
}

.board {
  width: 200px;
  height: 100px;
  background: url('../images/bg-1.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  border-radius: 10px;
  padding: 1%;

  h5 {
    font-size: 16px;
  }

  //   &:hover .star {
  //     opacity: 1;
  //   }
}

.star,
.trash {
  opacity: 0.2;
  position: absolute;
  right: 9%;
  bottom: 12%;
  font-size: 20px;
  color: white;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.trash {
  opacity: 0.2;
  left: 9%;
  padding: 6% 6% 0 0;
}

.active {
  opacity: 1;
}
